/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Base styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 61px;
  height: 57px;
}

.navbar-logo-text {
  margin-left: 16px;
}

.logo-title {
  font-family: "Geologica", sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 43.75px;
}

.logo-subtitle {
  font-family: "Gautami", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 28.59px;
}

.navbar-buttons {
  display: flex;
  gap: 16px;
}

.navbar-button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #4a4a4a;
}

.navbar_link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar_link img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

/* Responsive styles */

/* Extra small devices (phones, 320px and below) */
@media (max-width: 320px) {

  .navbar {

    padding: 0px 0px;
  }

  .navbar-logo {
    width: 25px;
    height: 25px;
  }

  .logo-title {
    font-size: 10px;
    line-height: 15px;
  }

  .logo-subtitle {
    font-size: 8px;
    line-height: 10px;
  }

  .navbar_link {
    gap: 5px;
  }

  .navbar_link img {
    width: 45px;
  }
}

/* Small devices (phones, 321px to 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .navbar-logo {
    width: 34px;
    height: 34px;
  }

  .logo-title {
    font-size: 14px;
    line-height: 18px;
  }

  .logo-subtitle {
    font-size: 10px;
    line-height: 14px;
  }

  .navbar_link img {
    width: 60px;
  }
}

/* Medium devices (tablets, 481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-logo {
    width: 45px;
    height: 45px;
  }

  .logo-title {
    font-size: 18px;
    line-height: 22px;
  }

  .logo-subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .navbar_link img {
    width: 100px;
  }
}

/* Large devices (desktops, 769px to 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
  .navbar-logo {
    width: 55px;
    height: 55px;
  }

  .logo-title {
    font-size: 25px;
    line-height: 30px;
  }

  .logo-subtitle {
    font-size: 14px;
    line-height: 18px;
  }

  .navbar_link img {
    width: 100px;
  }
}

/* Extra large devices (desktops, 1201px and above) */
@media (min-width: 1201px) {
  .navbar-logo {
    width: 61px;
    height: 57px;
  }

  .logo-title {
    font-size: 35px;
    line-height: 43.75px;
  }

  .logo-subtitle {
    font-size: 15px;
    line-height: 28.59px;
  }

  .navbar_link img {
    width: 100px;
  }
}
