.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap:25px;
}



.story-title {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.story-title p {
  color: #252525;
  font-family: "DM Sans";
  font-size: 35px;
  font-weight: 700;
  line-height: 45.57px;
  text-align: left;
  margin-top: 30px;
}

.story-container {
  flex: 1;
  background-color: #ffeceb;
  border-radius: 30px;
  border: 1px solid #ffeceb;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  
}

.storyimg{
    max-width: 40%;
}

.story-number {
  display: flex;
  justify-content: center;
  color: #e00000;
  font-family: "DM Sans";
  font-size: 25px;
  font-weight: 600;
  line-height: 45.57px;
  text-align: left;
}
.family {
  display: flex;
  justify-content: center;
  color: #4A514F;
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 45.57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.creditpe-container {
  margin-bottom: 30px;
  margin-left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a514f;
}

.creditpe-title {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 16.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.creditpe-description {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* TrustedUser */

.story-container1 {
  flex: 1;
  background-color: #fffbe8;
  border-radius: 30px;
  border: 1px solid #00000033;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.image-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.story-number1 {

  display: flex;
  justify-content: center;
  color: #e00000;
  font-family: "DM Sans";
  font-size: 25px;
  font-weight: 600;
  line-height: 35.57px;
  text-align: left;
}
.family1 {
  display: flex;
  justify-content: center;
  color: #4A514F;
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 45.57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.creditpe-container1 {
  margin-bottom: 30px;
  margin-left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a514f;
}

.creditpe-title1 {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 16.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.creditpe-description1 {
  font-family: DM Sans;
  font-size: 15px;
  /* font-weight: 400; */
  line-height: 16.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* 3rd section  */


.story-container2 {
    flex: 1;
    background-color: #E8FFEE;
    border-radius: 30px;
    border: 1px solid #00000033;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  
  .image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .story-number2 {
    display: flex;
    justify-content: center;
    color: #e00000;
    font-family: "DM Sans";
    font-size: 25px;
    font-weight: 600;
    line-height: 44.57px;
    text-align: left;
  }
  .family2 {
    display: flex;
    justify-content: center;
    color: #4A514F;
    font-family: DM Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 45.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .creditpe-container2 {
    margin-bottom: 30px;
    margin-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  color: #4a514f;
  }
  
  .creditpe-title2 {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 16.04px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .creditpe-description2 {
    font-family: DM Sans;
    font-size: 15px;
    /* font-weight: 400; */
    line-height: 16.04px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  /* 4rd section  */


.story-container3 {

  flex: 1;
  background-color: #ffeceb;
  border-radius: 30px;
  border: 1px solid #ffeceb;
  box-shadow: 0px 4px 4px 0px #00000040;
  }
  
  .image-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
  }
  
  .story-number3 {
    display: flex;
    justify-content: center;
    color: #e00000;
    font-family: "DM Sans";
    font-size: 25px;
    font-weight: 600;
    line-height: 35.57px;
    text-align: left;
  }
  .family3 {
    display: flex;
    justify-content: center;
    color: #4A514F;
    font-family: DM Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 45.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .creditpe-container3 {
    margin-bottom: 30px;
    margin-left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  color: #4a514f;
  }
  
  .creditpe-title3 {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 16.04px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .creditpe-description3 {
    font-family: DM Sans;
    font-size: 15px;
    /* font-weight: 500; */
    line-height: 22.04px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }


  @media (max-width: 460px){

     *{
      margin: 0px;
      padding: 0px;
     }

     .wrapper{
      flex-direction: column;
      align-items: center;
     }


      .story-container {
        background-color: #ffeceb;
        border-radius: 30px;
        border: 1px solid #ffeceb;
        box-shadow: 0px 4px 4px 0px #00000040;
        /* border: 1px solid red; */
        margin-top: 10px;

      }
      .story-container1 {
        margin-left: 70px;
        background-color: #fffbe8;
        border-radius: 30px;
        border: 1px solid #00000033;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin-left: 5px;
        margin-top: 10px;
        /* border: 1px solid red; */
      }

      .story-container2 {
        margin-top: 10px;
        background-color: #E8FFEE;
        border-radius: 30px;
        border: 1px solid #00000033;
        box-shadow: 0px 4px 4px 0px #00000040;
      }

      .story-container3 {
        margin-top: 10px;
        margin-left: 6px;
        background-color: #EBF6FF;
        border-radius: 30px;
        border: 1px solid #00000033;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .image-container img {
      max-width: 40%;
      height: auto;
      object-fit: cover; 
  }

    .image-container1 img {
      max-width: 40%;
      height: auto;
      object-fit: cover; 
  }

    .image-container2 img {
      max-width: 40%;
      height: auto;
      object-fit: cover; 
  }

    .image-container3 img {
      max-width: 40%;
      height: auto;
      object-fit: cover; 
  }

  .story-number {
    font-size: 25px;
  }

  .family {
    font-size: 25px;

  }


  .story-number1 {
    font-size: 25px;
  }

  .family1 {
    font-size: 25px;

  }

  .story-number2 {
    font-size: 25px;
  }

  .family2 {
    font-size: 25px;

  }
  .story-number3 {
    font-size: 25px;
  }

  .family3 {
    font-size: 25px;

  }
    .creditpe-container {
      height: 10vh;
    }

    .creditpe-container1 {
      /* flex:1; */
      /* border: 1px solid red; */
    }

    .creditpe-container2 {

    }


    .creditpe-container3 {

    }

  .creditpe-title {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 26.04px;
  }

  .creditpe-title1 {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.04px;
    word-spacing: 2px;
  }

  .creditpe-title2 {
    font-family: DM Sans;
    font-size: 15px;
    /* font-weight: 600; */
    line-height: 25.04px;
  }


  .creditpe-title3 {
    font-family: DM Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 25.04px;
  }


  .creditpe-title2 {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 26.04px;
  }

  .creditpe-description {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 600;
  }

  .creditpe-description1 {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 600;
  }

  .creditpe-description2 {
    /* font-family: DM Sans;
    font-size: 15px;
    font-weight: 600; */

    font-family: DM Sans;
    font-size: 15px;
    /* font-weight: 400; */
    line-height: 16.04px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }


  .creditpe-description3 {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 600;
  }

  .image-container1 img {
    max-width: 40%;
    height: auto;
    object-fit: cover; 
}



  }


  @media (min-width:460px) and (max-width:1024px){

    
    *{
      margin: 0px;
      padding: 0px;
     }

     .story-container {
      /* width: 545px;
      height: 480px; */
      background-color: #ffeceb;
      border-radius: 30px;
      border: 1px solid #ffeceb;
      box-shadow: 0px 4px 4px 0px #00000040;
      margin-bottom: 25px;
    }

    .story-container1 {
      width: 545px;
      height: 480px;
      margin-left: 9px;
      background-color: #fffbe8;
      border-radius: 30px;
      border: 1px solid #00000033;
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    .story-container3 {
      width: 545px;
      height: 480px;
      margin-top: 35px;
      margin-left: 9px;
      background-color: #EBF6FF;
      border-radius: 30px;
      border: 1px solid #00000033;
      box-shadow: 0px 4px 4px 0px #00000040;
  }

  }








  